VITE_FIREBASE_API_KEY=AIzaSyAQHsnOjA4toHxs3uo7N46R0u1MpJFh4Js
VITE_FIREBASE_AUTH_DOMAIN=e-card-72671.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=e-card-72671
VITE_FIREBASE_STORAGE_BUCKET=e-card-72671.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1029901355444
VITE_FIREBASE_APP_ID=1:1029901355444:web:c4bb7c910c16ffc0134ae1
VITE_FIREBASE_MEASUREMENT_ID=G-4QWGR6X1NS
VITE_CLOUDINARY_CLOUD_NAME=df3fvlapt
VITE_CLOUDINARY_UPLOAD_PRESET=digital-card
VITE_ADMIN_EMAILS=adriancatindig3@gmail.com
